@charset "utf-8";
/* ===============================
Top Page
=============================== */

/* mv section start */
.legacy_voice_mv {
    position: relative;
}

.legacy_voice_mv::after {
    position: absolute;
    content: "";
    width: 50%;
    height: 400px;
    right: 0;
    top: 0;
    background-repeat: no-repeat;
    background: url(../img/voice_mv_img.png) no-repeat;
    background-size: cover;
}

.legacy_voice_mv .inner_tax_mv {
    font-weight: bold;
    max-width: 960px;
    padding-inline: 20px;
    padding-block: 50px;
    margin: 0 auto;
}

.legacy_voice_mv .inner_tax_mv .mv_title {
    font-size: 20px;
    margin-bottom: 35px;
}

.legacy_voice_mv .inner_tax_mv .mv_title p:first-child {
    margin-left: -10px;
}

.legacy_voice_mv .inner_tax_mv .mv_title .red_ttl {
    font-size: 40px;
    color: var(--red--);
}

.legacy_voice_mv .mv_info_txt{
  max-width: 460px;
  text-align: justify;
}

.legacy_voice_mv .mv_info_txt .under_txt{
  line-height: 1.7;
  letter-spacing: 0.32px;
  margin-top: 20px;
}

.over_txt{
  color: var(--red--);
}

.over_txt span {
  background: linear-gradient(0deg, #f2dddd 50%, transparent 0%);
  letter-spacing: 0.32px;
  padding: 5px 0;
}

.over_txt .no {
  font-size: 40px;
  background: none;
}

.over_txt .percent {
  font-size: 30px;
  background: none;
}


/* mv section end */

/* customer satisfaction section start */
.cus_satisfaction_sec{
  padding: 60px 0;
}

.cus_satisfaction_sec .container{
    max-width: 980px;
    margin: 0 auto;
    width: unset;
}

.cus_satisfaction_sec .sub_container {
  /* max-width: 920px; */
  padding: 0 30px;
  margin: 0 auto;
  width: unset;
}
.cus_flex_list{
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    gap: 30px;
}

.list_01 .cus_head_txt,
.list_02 .cus_head_txt{
    max-width: 80%;
    margin: 0 auto;
    background-color: var(--brown--);
    padding: 20px 0;
    color: #fff;
    text-align: center;
    font-size: 20px;
    line-height: 2px;
    letter-spacing: 0.32px;
    font-weight: bold;
    clip-path: polygon(0% 0%, 2% 50%, 0 100%, 100% 100%, 98% 50%, 100% 0%);
    transform: translateY(-50%);
}

.list_01 .cus_img{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px 20px ;
}

.cus_flex_list .list_01,
.cus_flex_list .list_02 {
    background: var(--gray--);
    width: calc((100% - 40px) / 2);
}

.cus_flex_list ul.top_list{
	padding: 0 30px;
}

.top_list li {
    max-width: 360px;
    margin: 0 auto;
    display: flex;
    padding: 0 20px 20px;
    align-items: center;
    gap: 18px;
}

.top_list li:not(:last-child) {
    border-bottom: 3px dotted #8c6a3f;
    margin-bottom: 20px;
}

.top_list .left_txt {
    width: 60px;
    font-size: 24px;
    color: #fff;
    padding: 10px 0;
    clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
    text-align: center;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.top_list .txt_01{
    background-color: #bda210;
}

.top_list .txt_02{
    background-color: #a6a3a6;
}

.top_list .txt_03{
    background-color: #8c6a3f;
}

.top_list .right_txt {
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 0.32px;
    line-height: 2;
}


@media screen and (max-width: 768px) {

.cus_flex_list .list_01, .cus_flex_list .list_02 {
  background: var(--gray--);
  width: calc((100% - 20px) / 2);
}

.list_01 .cus_head_txt, .list_02 .cus_head_txt{
	max-width: 90%;
	font-size: 16px;
}

.cus_flex_list ul.top_list {
    padding: 0 25px;
}

.top_list li {
    max-width: 100%;
}

.top_list .right_txt{
	font-size: 16px;
}

.top_list .left_txt {
    width: 50px;
    font-size: 16px;
}

}

@media screen and (max-width:640px){
  .cus_flex_list {
    flex-direction: column;
}

.cus_flex_list .list_01,
.cus_flex_list .list_02{
	width: 100%;
}

.cus_flex_list .list_02{
	margin-top:20px;
}
}

/* customer satisfaction section end */
/* voice section */
.voice_container {
  max-width: 980px;
  padding: 0 20px;
  margin: 0 auto;
}
.voice_ttl{
  font-size: 40px;
  line-height: 1.5;
  font-weight: bold;
  color: #000;
  text-align: center;
  margin-bottom: 60px;
}
.voice_flex {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.voice_card {
  font-family: ヒラギノUD角ゴ Std W3;
  width: calc((100% - 40px)/3);
  background: #faf7f7;
  padding: 20px 10px 15px;
}
.voice_card .card_head {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}
.voice_card .card_head.one_fr{
    grid-template-columns: 1fr;
}
.voice_card .profile_block,
.voice_card .service_block {
  background: #fff;
  border-radius: 10px;
  padding: 10px 0 20px 0;
}
.voice_card .profile_picture {
  width: 60px;
  height: 60px;
  margin: 0 auto;
  background: #faf7f7;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 15px;
}
.voice_card .profile_picture img {
  margin: 0 auto;
  width: 100%;
  object-fit: scale-down;
}
.voice_card .address,
.voice_card .apperance,
.voice_card .service_used,
.voice_card .service_name {
  font-family: ヒラギノUD角ゴ Std W6;
  text-align: center;
  line-height: 1.5;
}
.voice_card .service_used{
  font-size: 12px;
  padding-top: 3px;
}
/* .voice_card .service_name {
  font-size: 14px;
  letter-spacing: 0;
  margin-top: 7px;
} */
.apperance .age {
  margin-right: 10px;
}
.voice_card .service_picture {
  width: 60px;
  height: 60px;
  margin: 0 auto 15px;
  border-radius: 50%;
}
.voice_card .service_picture img {
  width: 100%;
  height: 100%;
}
.voice_card .card_body {
  margin-top: 10px;
  font-size: 14px;
}
.voice_card .evaluation_block,
.voice_card .reason_block,
.voice_card .good_point_block {
  display: flex;
  gap: 10px;
  margin-bottom: 5px;
}
.voice_card .evaluation_block {
  margin-bottom: 10px;
}
/* rating */
.rating {
  display: inline-block;
}
.stars {
  position: relative;
}
.star {
  display: inline-block;
  width: 25px;
  height: 25px;
  background-color: #c8c6c6;
  clip-path: polygon(
    50% 0%,
    61% 35%,
    98% 35%,
    68% 57%,
    79% 91%,
    50% 70%,
    21% 91%,
    32% 57%,
    2% 35%,
    39% 35%
  );
}
.star.rated{
    background-color: #f7d100;
}
.star.half-rated{
  background-image: linear-gradient(90deg, #f7d100 52%, transparent 48%);
}
/* rating end */
.voice_card .evaluation_txt,
.voice_card .reason_txt,
.voice_card .god_point_txt {
  width: 90px;
}
.voice_card .evaluation_txt p,
.voice_card .reason_txt p,
.voice_card .god_point_txt p {
  width: 100%;
  color: #543f22;
  text-align: center;
  border: 1.5px solid #543f22;
  border-radius: 100vmax;
  padding: 7px 0 5px;
}
.voice_card .reason_desc,
.voice_card .good_points {
  width: calc(100% - 90px);
}
.voice_card .desc_txt,
.voice_card .good_point {
  font-family: ヒラギノUD角ゴ Std W6;
  width: 100%;
  color: #010101;
  text-align: center;
  border: 2px solid #a89879;
  border-radius: 3px;
  padding: 7px 0 5px;
  margin-bottom: 5px;
}
.voice_card .voice_img {
  border: 2px solid #a89879;
  border-radius: 3px;
}
.voice_card .voice_img img{
    width: 100%;
}
.voice_card .voice_txt {
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0;
}
.voice_card .card_footer {
  margin-top: 20px;
}
.voice_card .view_details {
  font-size: 16px;
  color: #c10000;
  text-align: right;
  position: relative;
  padding-right: 20px;
}
.voice_card .view_details::after {
  content: "";
  background: url(../img/legacy_voice/detail_more_arrow.png) no-repeat;
  width: 8px;
  height: 12px;
  background-size: contain;
  position: absolute;
  right: 0;
  top: 1px;
}
@media screen and (max-width: 920px) {
  .voice_ttl{
    font-size: 30px;
    margin-bottom: 40px;
  }
    .voice_card {
        width: calc((100% - 20px)/2);
    }
}
@media screen and (max-width: 640px) {
  .voice_ttl{
    font-size: 25px;
    margin-bottom: 30px;
  }
    .voice_card {
        width: 100%;
    }
}
/* voice section end*/
